.product-card {
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
}

.product-image {
  width: 250px;
  height: 300px;
}
