.meal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}

.meal-card h3 {
    font-size: 24px;
    margin: 20px 0 10px 0;
    text-align: center;
    color: #333;
}

.meal-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.meal-card button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #008CBA;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.meal-card button:hover {
    background-color: #3216a1;
}